/* font-family: 'Dancing Script', cursive; */

.navbar {
  background: linear-gradient(90deg, rgb(0, 128, 128) 0%, rgb(152, 228, 228) 200%);
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: white;
  justify-self: start;
  /* margin-left: 20px; */
  /* cursor: pointer; */
  text-decoration: none;
  /* font-size: 2rem; */
  display: flex;
  /* align-items: center; */
  /* margin-top: 20px; */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  /* margin-right: 2rem; */
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: whitesmoke;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid whitesmoke;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: whitesmoke;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: teal;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: whitesmoke;
    color: teal;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: whitesmoke;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: whitesmoke;
    padding: 14px 20px;
    border: 1px solid whitesmoke;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: whitesmoke;
    color: teal;
    transition: 250ms;
  }
}